
@using uiExp.Shared
@using System;
@using System.Collections.Generic;
@inject NavigationManager NavigationManager
@inject IJSRuntime js


@code{

    [Parameter]
    public Comment commentI{ get; set; }

    public void dump(object a)
    {
        DumpityDump.Dump(a); //this will print a json of the  object's properties/values to the console
    }

    public int BottomFadeOffset;
    public int FadeInAnchorP;
    public bool showAllLines = false;
    public bool showReplyInput = false;
    public int bubbleNum => commentI.GetBubbles().Count;
    public String GetShowText()
    {
        if (bubbleNum == 2)
        {
            return "See one more line...";
        }
        else
        {
            return "See " + (bubbleNum - 1).ToString() + " more lines...";
        }
        Console.WriteLine(commentI.getColor());
    }
    public String GetInputPlaceholder()
    {
        return "Send reply to " + this.commentI.GetCommenterFirstName()+"'s inbox...";
    }
    public String color => commentI.getColor();
    private String reply { get; set; }

    private void submitComment()
    {
        //commentI.AddReply(CurrentUser.GetUser());
        Console.WriteLine(reply);
    }
}

<div class="comment">
    <div class="commenter-photo-div">
        <img src="@(commentI.GetCommenterImg())" class="profile-pic">
    </div>
    <div class="comment-div">
        <div class="comment-tight-div"
            <p style="text-align:center; color:lightgray" data-aos="fade" data-aos-once="false" data-aos-duration="600" data-aos-offset="60" data-aos-anchor-placement="@FadeInAnchorP">
                <span data-aos="slow-partial-fade" data-aos-duration="600" data-aos-offset="-100px" data-aos-anchor-placement="top-top" style="color:lightgray">
                    @commentI.GetCommenterName()
                </span>
            </p>
            <p class="comment-text aos-init" data-aos="fade" data-aos-once="false" data-aos-duration="600" data-aos-offset="@BottomFadeOffset" data-aos-anchor-placement="@FadeInAnchorP">
                <span style="background-color:@color">@commentI.GetFirstText()</span>
            </p>

            @if (showAllLines)
            {
                for (int i = 1; i < bubbleNum; i++)
                {
                    <p class="comment-text aos-init" data-aos="fade" data-aos-once="false" data-aos-duration="600" data-aos-offset="@BottomFadeOffset" data-aos-anchor-placement="@FadeInAnchorP">
                        <span style="background-color:@color"> @commentI.GetBubbles()[i].Text</span>
                    </p>
                }
            }
            <div class="comment-actions">
                @if (!(showReplyInput)){
                    <span @onclick="()=> showReplyInput=true">Reply</span>
                }
                @if (!(bubbleNum == 1) && !showAllLines)
                {
                    <span @onclick="()=> showAllLines=true">@GetShowText()</span>
                }
            </div>
        </div>
        @if (showReplyInput)
        {
        <div class="reply-container">
            <input placeholder="@GetInputPlaceholder()" class="comment-reply-input" @bind="reply" />
            <i class="fas fa-arrow-up icon" @onclick="submitComment"></i>
        </div>

        }
    </div>
</div>