@page "/mylines"
@using uiExp.Shared
@using System;
@using System.Collections.Generic;
@inject NavigationManager NavigationManager
@layout MainLayout

@code {

        private void NavigateHomeFeedComponent() { NavigationManager.NavigateTo("/"); }
        public String ListHeight = "300px"; //height in pixels of list

    public String getAlign(Boolean left)
    {
        if (left)
            return "left";
        else
            return "right";
    }

    public void dump(object a)
    {
        DumpityDump.Dump(a); //this will print a json of the  object's properties/values to the console
    }

    public void NavigateToPm(int talk)
    {
        NavigationManager.NavigateTo("/Pm/" + talk);
    }

    public String ProfileMessagesClass = "message message-left aos-init";
    public String OthersMessageClass = "message message-right aos-init";
    public String UserName = "Sahil Handa";

    public int bottomHeaderHeight = 60;//aos offset for bottom
    public int animationDuration = 1000;
    public int messagesOffset = 80;//aos offset for top

    public String GetConvoHeading(PublishedMessage pm)
    {
        if (pm.GetPartners().Count == 1)
        {
            return pm.GetPartners()[0].GetName();
        }
        else
        {
            return pm.GetConvoName();
        }
    }
}

<body id="page">
    <div style="height:80px">
    </div>
       <div class="content">
      
           <div class="profile-info">
               <img src="@CurrentUser.cUser.GetImg()" class="profile-pic">
               <h1 class="profilename">
                   @CurrentUser.cUser.GetName();
               </h1>
               <h3 class="bio">@CurrentUser.cUser.GetBio()</h3>
           </div>
           <div class="profile-middle">
               <nav class="options">
                   <div class="favorites">
                       <span class="material-icons" "hvr-grow">
                           favorite_border
                       </span>
                   </div>
                   <div class="participated-in">
                       <span class="material-icons" "hvr-grow">
                           comment_bank
                       </span>
                   </div>
                   <div class="drafts">
                       <span class="material-icons" "hvr-grow">
                           publish
                       </span>
                   </div>
               </nav>
           </div>

        @for (int x = 0; x < LoadMyPublishedConvos.InboxList.Count; x++)
        {
          var convo = x;
        <div class="inbox-item" @onclick="() => NavigateToPm(convo)">
            <div>
                <img src="@LoadMyPublishedConvos.InboxList[x].GetImg()" class="profile-pic">
            </div>
            <div class="inbox-text">
                <h1 class="convo-name">@LoadMyPublishedConvos.InboxList[x].GetConvoName()</h1>
                <p class="preview-message">
                    <span>
                        @LoadMyPublishedConvos.InboxList[x].GetLastMessage()
                    </span>
                </p>
            </div>
        </div>
        }
    </div>
</body>